---
title: CNA Engineering
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/assets/style.css' | url }}"/>
  </head>
  <body>

    

    <main class="container">
      <aside>
      <nav>
        <ul>
      {%- for page in collections.api -%}
        <li><a href="{{ page.url | url }}">{{ page.data.title }}</a></li>
      {%- endfor -%}
      </ul>
      </nav>
  </aside>
      {{ content | safe }}

    </main>
    
  </body>
</html>