---
layout: layout.njk
---

<h1>Persuade Engineering Docs</h1>

<h2>Backend / API</h2>
<ul>
{%- for page in collections.api -%}
  <li><a href="{{ page.url | url }}">{{ page.data.title }}</a></li>
{%- endfor -%}
</ul>

<h2>Web Platform</h2>
<ul>
{%- for page in collections.web -%}
  <li><a href="{{ page.url | url }}">{{ page.data.title }}</a></li>
{%- endfor -%}
</ul>